[submodule "chrome_extensions"]
	path = chrome_extensions
	url = git@github.com:nachi739/errorda2_chrome_extensions.git
[submodule "errorda2_backend"]
	path = errorda2_backend
	url = git@github.com:nachi739/errorda2_next.js.git
